<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/css/vendor.bundle.base.css" />
		<link rel="stylesheet" href="fonts/mdi/css/materialdesignicons.css" />
		<link rel="stylesheet" href="fonts/mdi/css/materialdesignicons.min.css" />
		<style>
			#header {
				width: auto;
				height: 70px;
				border: 0px solid red;
				 
			}
			
			#buttondiv {
				width: auto;
				height: 50px;
				border: 0px solid red;
				 
			}
			
			h2 {
				display: inline-block;
				margin-left: 20px;
			}
			
			#selectdiv {
				float: right;
				display: inline-block;
				height: 40px;
				width: 480px;
				border: 0px solid red;
				margin-top: 18px;
			}
			
			#rightbuttondiv {
				float: right;
			}
			
			ul {
				list-style-type: none;
				margin-top: 13px;
				margin-right: 40px;
			}
			
			li {
				display: inline-block;
				margin-left: 20px;
			}
			
			#font {
				font-size: 18px;
			}
			
			#img {
				color: black;
			}
			
			#selectbtn {
				background-color: white;
				color: black;
			}
			
			#closebtn {
				background-color: white;
				color: black;
			}
			
			#exitregistration {
				display: none;
				border: 1px solid green;
				position: absolute;
				left: 450px;
				top: 150px;
				width: 750px;
				height: 400px;
				background-color: lightgray;
			}
			
			#exitregistrationh2 {
				margin-bottom: 15px;
			}
			
			#exitregistrationlinediv {
				background-color: darkblue;
				width: 750px;
				height: 20px;
			}
			
			#exitregistrationspan {
				color: white;
				margin-left: 5px;
			}
			
			#exitregistrationbodydiv {
				margin-top: 8px;
				margin-left: 9px;
				width: 730px;
				height: 360px;
				background-color: white;
			}
			
			#employeescard {
				border: 1px solid red;
				width: 1200px;
				height: 665px;
				position: absolute;
				left: 220px;
				top: 80px;
				display: none;
				background-color: white;
			}
			
			#employeescardlinediv {
				background-color: darkblue;
				width: 1200px;
				height: 20px;
			}
			
			#employeescardspan {
				color: white;
				margin-left: 5px;
			}
			
			#employeescardfork {
				font-size: 52px;
				position: absolute;
				left: 680px;
				top: 150px;
			}
			
			#closespan {
				font-size: 32px;
				position: absolute;
				left: 1140px;
				top: 40px;
			}
			
			#information {
				margin-left: 25px;
				border: 0px solid red;
				background-color: wheat;
				width: 1150px;
				height: 550px;
			}
			
			#savebtn {
				background-color: lawngreen;
				color: white;
				width: 100px;
				position: absolute;
				left: 600px;
				top: 35px;
			}
			
			#word {
				margin-left: 30px;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div id="header">
				<h2>离职登记</h2>
				<div id="selectdiv">
					<input placeholder="匹配编号/姓名" name="condition" style="display: inline-block; width: 300px;" class="form-control" type="text" />
					<button @click="selectdata()" id="selectbtn" class="btn btn-default">搜索</button>
					<button id="closebtn" class="btn btn-default">关闭</button>
				</div>
			</div>
			<div id="buttondiv">
				<div id="rightbuttondiv">
					<ul>
						<li>
							<span id="img" class="glyphicon glyphicon-user"></span>
							<span @click="openDimission()" data-toggle="modal" data-target="#myModal" id="font">离职</span>
						</li>
						<li>
							<span id="img" class="glyphicon glyphicon-print"></span>
							<span @click="rollback()" id="font">回滚</span>
						</li>
						<li>
							<span id="img" class="glyphicon glyphicon-share"></span>
							<span data-toggle="modal" data-target="#xx" @click="openemployeescard()" id="font">打开</span>
						</li>
						<li>
							<span id="img" class="glyphicon glyphicon-remove-circle"></span>
							<span @click="deleteStaffInfo()" id="font">删除</span>
						</li>
						<li>
							<span id="img" class="glyphicon glyphicon-list-alt"></span>
							<span @click="openstaffquery()" data-toggle="modal" data-target="#yy" id="font">查询</span>
						</li>
						<li>
							<span id="img" class="glyphicon glyphicon-share"></span>
							<span @click="exportExcel()" id="font">导出</span>
						</li>
					</ul>
				</div>
			</div>
			<div id="tablediv">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td></td>
							<td>部门</td>
							<td>员工编号</td>
							<td>姓名</td>
							<td>性别</td>
							<td>职位</td>
							<td>离职日期</td>
							<td>离职原因</td>
						</tr>
					</thead>
					<tbody>
						<tr @click="datashift(item)" v-for="item,index in data">
							<td style="width: 40px;">
								<span v-if="item.check==true" style="font-size: 8px;" class="glyphicon glyphicon-play"></span>
							</td>
							<td>{{item.departmentname}}</td>
							<td>{{item.staffid}}</td>
							<td>{{item.name}}</td>
							<td>{{item.sex}}</td>
							<td>{{item.postname}}</td>
							<td>{{item.dimissiondate}}</td>
							<td>{{item.dimissioncause}}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<span>合计:<span>{{data.length}}</span>条记录</span>
				</div>
			</div>

			<!--
            	作者：1424432629@qq.com
            	时间：2020-02-18
            	描述：员工卡片
            -->
			<div id="xx" class="mo1 modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header" style="border-bottom:0px">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">员工卡片</h4>
						</div>
						<div class="modal-body">

							<div class="row border-def" style="height: 44.5%;">
								<div class="col-md-12" style=" overflow: auto;height: 100%;">
									<div>

										<!-- Nav tabs -->
										<ul class="nav nav-tabs" role="tablist">
											<li role="presentation" class="active">
												<a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a>
											</li>
											<li role="presentation">
												<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">其他信息</a>
											</li>

										</ul>

										<!-- Tab panes -->
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active" id="home">
												<div>
													<form class="form-inline form-dinyi">
														<table style="border-collapse:separate;border-spacing:5px;">
															<tr>
																<td><span>员工编号：</span></td>
																<td><input disabled class="form-control" type="text" v-model="staffinfo.staffno" /></td>
																<td><span>员工姓名：</span></td>
																<td><input v-model="staffinfo.name" class="form-control" type="text" /></td>
																<td><span>员工性别：</span></td>
																<td>

																	<select v-model="staffinfo.sex" name="sex" class="form-control" style="height: 2.6em;">
																		<option></option>
																		<option>男</option>
																		<option>女</option>
																	</select>

																</td>
															</tr>

															<tr>

																<td><span>所在部门：</span></td>
																<td>
																	<input class="form-control" v-model="staffinfo.departmentname" type="text" name="depid" style="width: 5em;" disabled />
																</td>

															</tr>
															<tr>
																<td><span>登陆账户：</span></td>
																<td><input class="form-control" v-model="staffinfo.account" type="text" /></td>
																<td><span>岗位：</span></td>
																<td>

																	<input class="form-control" v-model="staffinfo.postid" type="text" />
																</td>
																<td><span>身体状况：</span></td>
																<td><input class="form-control" v-model="staffinfo.physicalcondition" type="text" /></td>
															</tr>
															<tr>
																<td><span>身高：</span></td>
																<td>
																	<input v-model="staffinfo.height" class="form-control" type="text" />
																</td>
																<td> <span>籍贯：</span></td>
																<td>
																	<input v-model="staffinfo.nativeplace" class="form-control" type="text" />
																</td>
																<td>
																	<span>民族：</span></td>
																<td>
																	<input v-model="staffinfo.nation" class="form-control" type="text" />
																</td>
															</tr>
															<tr>
																<td><span>婚姻状况：</span></td>
																<td>
																	<input v-model="staffinfo.maritalstatus" class="form-control" type="text" />
																</td>
																<td><span>学历：</span></td>
																<td>
																	<input v-model="staffinfo.educationbackground" class="form-control" type="text" />
																</td>
																<td><span>毕业学校：</span></td>
																<td><input v-model="staffinfo.school" class="form-control" type="text" /></td>
															</tr>

															<tr>
																<td><span>专业：</span></td>
																<td><input v-model="staffinfo.major" class="form-control" type="text" /></td>
																<td><span>专业资格：</span></td>
																<td><input v-model="staffinfo.professionalqualification" class="form-control" type="text" /></td>

															</tr>
															<tr>
																<td><span>属性：</span></td>
																<td>
																	<input v-model="staffinfo.property" class="form-control" type="text" />
																</td>
																<td><span>学位：</span></td>
																<td>
																	<input v-model="staffinfo.degree" class="form-control" type="text" />
																</td>
															</tr>

															<tr>

																<td><span>编制：</span></td>
																<td>
																	<input v-model="staffinfo.authorizedstrength" class="form-control" type="text" />
																</td>
																<td><span>身份证号：</span></td>
																<td><input v-model="staffinfo.idcardno" class="form-control" type="text" /></td>
																<td><span>户口地址：</span></td>
																<td><input v-model="staffinfo.residence" class="form-control" type="text" /></td>
															</tr>

															<tr>
																<td><span>现住地址：</span></td>
																<td><input v-model="staffinfo.presentaddress" class="form-control" type="text" /></td>
																<td><span>联系电话：</span></td>
																<td><input v-model="staffinfo.contactnumber" class="form-control" type="text" /></td>
																<td><span>手机：</span></td>
																<td><input v-model="staffinfo.phone" class="form-control" type="text" /></td>
															</tr>

															<tr>
																<td><span>eMail：</span></td>
																<td><input v-model="staffinfo.email" class="form-control" type="text" /></td>
																<td><span>开户银行：</span></td>
																<td><input v-model="staffinfo.depositbank" class="form-control" type="text" /></td>

															</tr>
															<tr>

																<td><span>银行账号：</span></td>
																<td><input v-model="staffinfo.bankaccount" class="form-control" type="text" /></td>
															</tr>
															<tr>
																<td><span>紧急联系人：</span></td>
																<td><input v-model="staffinfo.emergencycontact" class="form-control" type="text" /></td>
																<td><span>联系人电话：</span></td>
																<td><input v-model="staffinfo.emergencyphone" class="form-control" type="text" /></td>
															</tr>
															<tr>
																<td><span>入职日期：</span></td>
																<td><input class="form-control" v-model="staffinfo.dateonboard" type="date"></td>
																<td><span>试用到期：</span></td>
																<td><input class="form-control" v-model="staffinfo.thetrialdue" type="date"></td>

															</tr>
															<tr>
																<td><span>出生日期：</span></td>
																<td><input class="form-control" v-model="staffinfo.birthdaydate" type="date"></td>
																<td><span>合同开始：</span></td>
																<td><input class="form-control" v-model="staffinfo.contractstart" type="date"></td>
																<td><span>合同结束：</span></td>
																<td><input class="form-control" v-model="staffinfo.agreementends" type="date"></td>

															</tr>
															<tr>
																<td><span>卡自编号：</span></td>
																<td><input v-model="staffinfo.cardnumber" class="form-control" type="text" /></td>
																<td><span>卡内部号：</span></td>
																<td><input v-model="staffinfo.internalcardno" class="form-control" type="text" /></td>
																<td><span>推荐人：</span></td>
																<td><input v-model="staffinfo.referrer" class="form-control" type="text" /></td>
															</tr>
															<tr>
																<td><span>整单折扣权%：</span></td>
																<td><input v-model="staffinfo.wholeorderdiscountright" class="form-control" type="text" /></td>
																<td><span>工时折扣权%：</span></td>
																<td><input v-model="staffinfo.timediscountright" class="form-control" type="text" /></td>
															</tr>
															<tr>
																<td><span>商品折扣权%：</span></td>
																<td><input v-model="staffinfo.righttodiscount" class="form-control" type="text" /></td>
																<td><span>减免权：</span></td>
																<td><input v-model="staffinfo.rightofrelief" class="form-control" type="text" /></td>
															</tr>
														</table>
													</form>
												</div>

											</div>
											<div role="tabpanel" class="tab-pane" id="profile">

												<table>
													<tr>
														<td>工作简历:</td>
														<td><textarea v-model="staffinfo.jobresume"></textarea></td>

													</tr>
													<tr>
														<td>教育经历:</td>
														<td><textarea v-model="staffinfo.educationexperience"></textarea></td>

													</tr>
													<tr>
														<td>家庭成员:</td>
														<td><textarea v-model="staffinfo.memberoffamily"></textarea></td>

													</tr>
													<tr>
														<td>奖惩记录:</td>
														<td><textarea v-model="staffinfo.disciplinaryrecords"></textarea></td>

													</tr>
													<tr>
														<td>聘用意见:</td>
														<td><textarea v-model="staffinfo.employmentadvice"></textarea></td>
													</tr>
													<tr>
														<td>就职情况：</td>
														<td>

															<select name="" v-model="staffinfo.isdimission" class="form-control" style="height: 2.6em;width: 10em;">
																<option value="0">在职</option>
																<option value="1">离职</option>
															</select>
														</td>
													</tr>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!--
            	作者：1424432629@qq.com
            	时间：2020-02-18
            	描述：离职登记
            -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">离职登记</h4>
						</div>
						<div class="modal-body">
							<div style="display: inline;">
								<span style="position: relative;left: 10px;top: 23px;">员工姓名：</span>
								<div style="position: relative;left: 84px;bottom: 6px;" class="input-group">
									<input style="width: 155px;" type="text" readonly="readonly" name="staffname" class="form-control">
									<span style="width: 155px;" class="input-group-btn">
        								<button data-toggle="modal" data-target="#myModal1" class="btn btn-default" type="button">
        									<span class="glyphicon glyphicon-triangle-bottom">		
        									</span>
									</button>
									</span>
								</div>
								<span style="position: relative;left: 310px;bottom: 32px;">离职日期：</span>
								<input style="width: 135px;position: relative;left: 384px;bottom: 60px;" class="form-control" name="dimissiondate" type="date" />
							</div>
							<div style="position: relative;bottom: 30px;">
								<span style="margin-left: 10px;display: inline-block;">离职原因：</span>
								<input style="display: inline-block;width: 437px;" class="form-control" name="dimissionreason" type="text">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" @click="insertDimission()" data-dismiss="modal" class="btn btn-primary">确定</button>
						</div>
					</div>
				</div>
			</div>

			<!--
            	作者：1424432629@qq.com
            	时间：2020-02-18
            	描述：员工查询
          -->
			<div id="yy" class="mo1 modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header" style="border-bottom:0px">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">员工查询</h4>
						</div>
						<div class="modal-body">

							<div class="row border-def" style="height: 44.5%;">
								<div class="col-md-12" style=" overflow: auto;height: 100%;">
									<div>
										<!-- Tab panes -->
										<div class="tab-content">

											<div>
												<form class="form-inline form-dinyi">
													<table style="border-collapse:separate;border-spacing:5px;">
														<tr>
															<td>
																<span style="margin-left: 10px;">员工编号：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.staffno" style="width: 140px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">员工姓名：</span>
															</td>
															<td>

																<input class="form-control" v-model="employeeinfo.name" style="width: 140px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">性别：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.sex" style="width: 100px;" type="text">
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">岗位：</span></td>
															<td>
																<select class="form-control" style="width: 120px;" name="postselect">
																	<option postid=""></option>
																	<option v-bind:postid="item.id" v-for="item in posts">{{item.postname}}</option>
																</select>
															</td>
															<td>
																<span style="margin-left: 20px;">所在部门：</span>
															</td>									 
															<td colspan="2">															
																<div class="input-group">
																	<input style="width: 155px;" type="text" v-model="employeeinfo.departmentid" name="departmentidanddepartmentname" class="form-control">
																	<span style="width: 155px;" class="input-group-btn">
        																<button data-toggle="modal" data-target="#myModal4" class="btn btn-default" type="button">
        																<span class="glyphicon glyphicon-triangle-bottom">		
        																</span>
																	</button>
																	</span>
																</div>
															</td>			 
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">身体状况：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.physicalcondition" style="width: 160px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">身高：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.height" style="width: 100px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">籍贯：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.nativeplace" type="text" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">民族：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.nation" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">婚姻状况：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.maritalstatus" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">学历：</span>
															</td>
															<td>
																<input class="form-control" style="width: 120px;" v-model="employeeinfo.educationbackground" type="text" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">毕业学校：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.school" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">专业：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.major" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">专业资格：</span>
															</td>
															<td>
																<input class="form-control" style="width: 120px;" v-model="employeeinfo.professionalqualification" type="text" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">生日：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.birthdaydate" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">学位：</span>
															</td>
															<td>
																<input class="form-control" type="text" v-model="employeeinfo.degree" />
															</td>
															<td>
																<span style="margin-left: 20px;">编制：</span>
															</td>
															<td>
																<input class="form-control" type="text" v-model="employeeinfo.authorizedstrength" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">身份证号：</span>
															</td>
															<td>
																<input class="form-control" class="form-control" v-model="employeeinfo.idcardno" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">入职日期 从：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.dateofentryone" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">至：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.dateofentrytwo" type="date" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">试用日期 从：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.thetrialdateone" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">至：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.thetrialdatetwo" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">属性：</span>
															</td>
															<td>
																<input class="form-control" type="text" v-model="employeeinfo.property" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">合同开始 从：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.contractstartdateone" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">至：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.contractstartdatetwo" type="date" />
															</td>
														</tr>
													</table>
												</form>
											</div>

										</div>

									</div>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" @click="employeeinfomakesure()">确定</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!--
            	作者：1424432629@qq.com
            	时间：2020-02-18
            	描述：部门选择
            -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">部门选择</h4>
						</div>
						<div class="modal-body">
							<select style="width: 568px;border-radius: 5px;">
								<option>0000-成高</option>
							</select>
							<div style="overflow: scroll;">
								<table border="1px" class="table">
									<thead>
										<tr style="background-color: deepskyblue;">
											<tr>
												<td></td>
												<td>部门编号</td>
												<td>部门名称</td>
												<td>部门分类</td>
											</tr>
										</tr>
									</thead>
									<tbody>
										<tr @dblclick="departmentcheck(item)" @click="departmentshift(item)" v-for="item in department">
											<td style="width: 40px;">
												<span v-if="item.check==true" style="font-size: 8px;" class="glyphicon glyphicon-play"></span>
											</td>
											<td>{{item.id}}</td>
											<td>{{item.departmentname}}</td>
											<td>{{item.departmenttypename}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button @click="checkDepartment()" data-dismiss="modal" type="button" class="btn btn-primary">确定</button>
						</div>
					</div>
				</div>
			</div>

			<!--
            	作者：1424432629@qq.com
            	时间：2020-02-18
            	描述：选择员工
            -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">选择员工</h4>
						</div>
						<div class="modal-body">
							<div>
								<select style="width: 565px;border-radius: 5px;margin-bottom: 5px;">
									<option>0000-成高</option>
								</select>
								<select @change="updatecondition($event)" style="width: 565px;border-radius: 5px;margin-bottom: 10px;">
									<option did="">所有</option>
									<option v-bind:did="item.id" v-for="item in department">{{item.departmentname}}</option>
								</select>
								<div style="overflow: scroll;">
									<table class="table table-bordered">
										<thead>
											<tr style="background-color: deepskyblue;">
												<tr>
													<td></td>
													<td>部门名称</td>
													<td>工号</td>
													<td>姓名</td>
												</tr>
											</tr>
										</thead>
										<tbody>
											<tr @dblclick="staffcheck(item)" @click="staffshift(item)" v-for="item in staff">
												<td style="width: 40px;">
													<span v-if="item.check==true" style="font-size: 8px;" class="glyphicon glyphicon-play"></span>
												</td>
												<td>{{item.departmentname}}</td>
												<td>{{item.staffno}}</td>
												<td>{{item.name}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" @click="checkStaff()" data-dismiss="modal" class="btn btn-primary">确定</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script>
			//根据条件查询员工
			function query(departmentname) {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/selectStaffByCondition",
					data: {
						departmentname: departmentname
					},
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.staff = response;
						//console.log(vm.staff);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//根据员工编号查询员工
			function queryByStaffNo(staffno) {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/selectByStaffNo",
					data: {
						staffno: staffno
					},
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.staffinfo = response;
						//console.log(vm.staffinfo);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//查询所有岗位
			function selectAllPost() {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/selectAllPost",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.posts = response;
						//console.log(response);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//查询所有部门信息
			function selectAllDepartment() {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/selectAllDepartment",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.department = response;
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//查询离职员工信息
			function queryDimission() {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/queryDimissionInfo",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.data = response;
						//console.log(response);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//根据条件查询离职员工信息
			function queryDimissionInfoByCondition() {
				var postid = $("[name=postselect]").find("option:selected").attr("postid");
				vm.employeeinfo.postid = postid;
				var arr = vm.employeeinfo.departmentid.split(" ");
				vm.employeeinfo.departmentid = arr[0];
				var staff = JSON.stringify(vm.employeeinfo);

				$.ajax({
					url: "http://localhost:8080/exitRegistration/queryDimissionInfoByCondition",
					data: staff,
					type: "post",
					dataType: "json",
					contentType: "application/json;charset=utf-8",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.data = response;
						//console.log(vm.data);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//根据编号或姓名查询离职员工信息
			function selectDimissionInfoByStaffNoOrName(condition) {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/selectDimissionInfoByStaffNoOrName",
					data: {
						condition: condition
					},
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.data = response;
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//添加离职员工信息
			function addDimission(staffname, dimissiondate, dimissionreason) {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/addDimission",
					data: {
						staffname: staffname,
						dimissiondate: dimissiondate,
						dimissioncause: dimissionreason
					},
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						queryDimission();

					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//将离职员工信息回滚
			function staffRollback(staffno) {
				$.ajax({
					url: "http://localhost:8080/exitRegistration/staffRollback",
					data: {
						staffno: staffno
					},
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						//console.log(response);
						queryDimission();

					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//导出数据
			function exportExcel() {
				var condition = $("[name=condition]").val();
				if(condition != null && condition != "") {
					vm.employeeinfo.name = condition;
					vm.employeeinfo.check = true;
				} else {
					vm.employeeinfo.check = false;
				}
				var staff = JSON.stringify(vm.employeeinfo);
				console.log(staff);
				var form = document.createElement("form");
				form.style.display = 'none';
				form.action = "http://localhost:8080/excel/dimissionExportExcel";
				form.method = "post";
				document.body.appendChild(form);
				for(var key in vm.employeeinfo) {
					var input = document.createElement("input");
					input.type = "hidden";
					input.name = key;
					input.value = vm.employeeinfo[key];
					form.appendChild(input);
				}
				form.submit();
				form.remove();
				vm.employeeinfo.name = "";
				vm.employeeinfo.check = "";
			}
			var vm = new Vue({
				el: ".container-fluid",
				data() {
					return {
						data: {},
						department: [],
						staff: {},
						staffinfo: [],
						sex: ["男", "女"],
						posts: {},
						nativeplace: ["北京", "湖南", "上海", "深圳"],
						nation: ["汉族", "满族", "蒙族", "壮族"],
						maritalstatus: ["未婚", "已婚"],
						educationbackground: ["大专", "本科", "硕士", "博士"],
						professionalqualification: ["初级工程师", "中级工程师", "高级工程师"],
						property: ["记考勤计薪", "不计考勤计薪", "记考勤不记薪", "不计考勤不记薪"],
						employeeinfo: {
							"staffno": "",
							"name": "",
							"sex": "",
							"postid": "",
							"departmentid": "",
							"physicalcondition": "",
							"height": "",
							"nativeplace": "",
							"nation": "",
							"maritalstatus": "",
							"educationbackground": "",
							"school": "",
							"major": "",
							"professionalqualification": "",
							"birthdaydate": "",
							"degree": "",
							"authorizedstrength": "",
							"idcardno": "",
							"dateofentryone": "",
							"dateofentrytwo": "",
							"contractstartdateone": "",
							"contractstartdatetwo": "",
							"property": "",
							"thetrialdateone": "",
							"thetrialdatetwo": ""
						}
					}

				},
				created: function() {
					queryDimission();
					query("");
					selectAllDepartment();
					selectAllPost();
				},
				methods: {
					//选择部门
					checkDepartment: function() {
						for(var i = 0; i < vm.department.length; i++) {
							if(vm.department[i].check == true) {
								vm.employeeinfo.departmentid = vm.department[i].id + " " + vm.department[i].departmentname;
								vm.staffinfo.departmentname = vm.department[i].departmentname;
								vm.staffinfo.departmentid = vm.department[i].id;
							}
						}
					},
					//打开离职登记
					openDimission: function() {
						$("[name=staffname]").val("");
						$("[name=dimissiondate]").val("");
						$("[name=dimissionreason]").val("");
					},
					//添加离职信息
					insertDimission: function() {
						var staffname = $("[name=staffname]").val();
						var dimissiondate = $("[name=dimissiondate]").val();
						var dimissionreason = $("[name=dimissionreason]").val();
						console.log(staffname);
						console.log(dimissiondate);
						console.log(dimissionreason);
						if(staffname == "" || staffname == "" || staffname == " ") {
							alert("请填写离职员工姓名！");
							return;
						}
						if(dimissiondate == "" || dimissiondate == "" || dimissiondate == " ") {
							alert("请填写离职日期！");
							return;
						}
						if(dimissionreason == "" || dimissionreason == "" || dimissionreason == " ") {
							alert("请填写离职原因！");
							return;
						}
						addDimission(staffname, dimissiondate, dimissionreason);
					},
					//选中员工
					checkStaff: function() {
						var that = this;
						for(var i = 0; i < that.staff.length; i++) {
							if(that.staff[i].check == true) {
								$("[name=staffname]").val(that.staff[i].staffno + "  " + that.staff[i].name);
							}
						}
					},
					selectdata: function() {
						var condition = $("[name=condition]").val();
						selectDimissionInfoByStaffNoOrName(condition);
					},
					//根据条件查询员工
					employeeinfomakesure: function() {
						queryDimissionInfoByCondition();
						$("#staffquery").removeClass("show");
					},
					updatecondition: function(event) {
						var departmentname = event.target.value;
						if(departmentname == "所有") {
							departmentname = "";
						}
						query(departmentname);
					},
					makesureadddimission: function() {
						var staffname = $("[name=staffname]").val();
						var dimissiondate = $("[name=dimissiondate]").val();
						var dimissionreason = $("[name=dimissionreason]").val();
						if(staffname == "" || staffname == "" || staffname == " ") {
							alert("请填写离职员工姓名！");
							return;
						}
						if(dimissiondate == "" || dimissiondate == "" || dimissiondate == " ") {
							alert("请填写离职日期！");
							return;
						}
						if(dimissionreason == "" || dimissionreason == "" || dimissionreason == " ") {
							alert("请填写离职原因！");
							return;
						}
						addDimission(staffname, dimissiondate, dimissionreason);
						$("#exitregistration").removeClass("show");
					},
					datashift: function(item) {
						var that = this;
						for(var i = 0; i < that.data.length; i++) {
							that.data[i].check = false;
						}
						item.check = true;
					},
					staffcheck: function(item) {
						$("[name=staffname]").val(item.staffno + "  " + item.name);
						$("#selectemployee").removeClass("show");
					},
					makesurestaff: function() {
						var that = this;
						for(var i = 0; i < that.staff.length; i++) {
							if(that.staff[i].check == true) {
								$("[name=staffname]").val(that.staff[i].staffno + "  " + that.staff[i].name);
								$("#selectemployee").removeClass("show");
							}
						}
					},
					staffshift: function(item) {
						var that = this;
						for(var i = 0; i < that.staff.length; i++) {
							that.staff[i].check = false;
						}
						item.check = true;
					},
					opendepartmentchoice: function() {
						selectAllDepartment();
						$("#departmentchoice").addClass("show");
					},
					closedepartmentchoice: function() {
						$("#departmentchoice").removeClass("show");
					},
					departmentcheck: function(item) {
						vm.staffinfo.departmentname = item.departmentname;
						vm.staffinfo.departmentid = item.id;
						for(var i = 0; i < vm.department.length; i++) {
							if(vm.department[i].check == true) {
								vm.employeeinfo.departmentid = vm.department[i].id + " " + vm.department[i].departmentname;
							}
						}
						$("#departmentchoice").removeClass("show");
					},
					departmentchoiceqwe: function() {
						for(var i = 0; i < vm.department.length; i++) {
							if(vm.department[i].check == true) {
								vm.employeeinfo.departmentid = vm.department[i].id + " " + vm.department[i].departmentname;
								vm.staffinfo.departmentname = vm.department[i].departmentname;
								vm.staffinfo.departmentid = vm.department[i].id;
							}
						}
						$("#departmentchoice").removeClass("show");
					},
					departmentshift: function(item) {
						var that = this;
						for(var i = 0; i < that.department.length; i++) {
							that.department[i].check = false;
						}
						item.check = true;
					},
					deleteStaffInfo: function() {
						if(confirm("是否确认将该员工所有资料清除？") == true) {
							var staffno = null;
							for(var i = 0; i < vm.data.length; i++) {
								if(vm.data[i].check == true) {
									staffno = vm.data[i].staffid;
								}
							}
						}
					},
					//导出数据
					exportExcel: function() {
						exportExcel();
					},
					//打开员工查询
					openstaffquery: function() {
						selectAllPost();
						vm.employeeinfo = {
							"staffno": "",
							"name": "",
							"sex": "",
							"postid": "",
							"departmentid": "",
							"physicalcondition": "",
							"height": "",
							"nativeplace": "",
							"nation": "",
							"maritalstatus": "",
							"educationbackground": "",
							"school": "",
							"major": "",
							"professionalqualification": "",
							"birthdaydate": "",
							"degree": "",
							"authorizedstrength": "",
							"idcardno": "",
							"dateofentryone": "",
							"dateofentrytwo": "",
							"contractstartdateone": "",
							"contractstartdatetwo": "",
							"property": "",
							"thetrialdateone": "",
							"thetrialdatetwo": ""
						};
						$("#staffquery").addClass("show");
					},
					closestaffquery: function() {
						$("#staffquery").removeClass("show");
					},
					showif: function() {
						$("#info").removeClass("hidden");
						$("#else").removeClass("show");
						$("#ifli").addClass("active");
						$("#elseli").removeClass("active");
					},
					showelse: function() {
						$("#ifli").removeClass("active");
						$("#elseli").addClass("active");
						$("#info").addClass("hidden")
						$("#else").addClass("show");
					},

					openemployeescard: function() {
						var that = this;
						for(var i = 0; i < that.data.length; i++) {
							if(that.data[i].check == true) {
								//console.log(that.data[i].staffid);
								queryByStaffNo(that.data[i].staffid);
								break;
							}
						}
						//console.log(that.staffinfo);
						selectAllPost();

					},
					closeemployeescard: function() {
						vm.employeeinfo = [];
						$("#employeescard").removeClass("show");
					},
					openexitregistration: function() {
						$("[name=staffname]").val("");
						$("[name=dimissiondate]").val("");
						$("[name=dimissionreason]").val("");
						$("#exitregistration").addClass("show");
					},
					closeexitregistration: function() {
						$("#exitregistration").removeClass("show");
					},
					rollback: function() {
						if(confirm("是否将该员工恢复入职") == true) {
							var staffno = null;
							for(var i = 0; i < vm.data.length; i++) {
								if(vm.data[i].check == true) {
									staffno = vm.data[i].staffid;
								}
							}
							staffRollback(staffno);
						}
					},
					openselectemployee: function() {
						$("#selectemployee").addClass("show");
						$("#selectemployee").addClass("qwe");

					},
					closeselectemployee: function() {
						$("#selectemployee").removeClass("show");
					}
				}
			});
		</script>
	</body>

</html>