<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="fonts/css/vendor.bundle.base.css" />
		<link rel="stylesheet" href="fonts/mdi/css/materialdesignicons.css" />
		<link rel="stylesheet" href="fonts/mdi/css/materialdesignicons.min.css" />
		<style>
			#header {
				width: auto;
				height: 70px;
				border: 0px solid red;
				 
			}
			
			#buttondiv {
				width: auto;
				height: 50px;
				border: 0px solid red;
			 
			}
			
			h2 {
				display: inline-block;
				margin-left: 20px;
			}
			
			#selectdiv {
				float: right;
				display: inline-block;
				height: 40px;
				width: 480px;
				border: 0px solid red;
				margin-top: 18px;
			}
			
			#rightbuttondiv {
				float: right;
			}
			
			ul {
				list-style-type: none;
				margin-top: 13px;
				margin-right: 40px;
			}
			
			li {
				display: inline-block;
				margin-left: 20px;
			}
			
			#font {
				font-size: 18px;
			}
			
			#img {
				color: black;
			}
			
			#selectbtn {
				background-color: white;
				color: black;
			}
			
			#closebtn{
				background-color: white;
				color: black;
			}
			
			#staffquery {
				display: none;
				border: 1px solid green;
				position: absolute;
				left: 450px;
				top: 150px;
				width: 750px;
				height: 430px;
				background-color: white;
			}
			
			#staffqueryspan {
				color: white;
				margin-left: 5px;
			}
			
			#staffqueryh2 {
				margin-bottom: 15px;
			}
			
			#staffquerylinediv {
				background-color: darkblue;
				width: 750px;
				height: 20px;
				color: white;
			}
			
			#staffquerymarksure {
				background-color: lawngreen;
				color: white;
				width: 100px;
				position: absolute;
				left: 500px;
				top: 36px;
			}
			
			#staffqueryfork {
				font-size: 32px;
				position: absolute;
				left: 680px;
				top: 40px;
			}
			
			#staffquerycontent {
				width: 680px;
				height: 330px;
				margin-left: 21px;
				background-color: wheat;
			}
			
			#departmentchoice {
				border: 1px solid green;
				position: absolute;
				left: 570px;
				top: 100px;
				width: 500px;
				height: 585px;
				background-color: lightgray;
				display: none;
				z-index: 888;
			}
			
			#departmentchoiceh2 {
				margin-bottom: 15px;
			}
			
			#departmentchoicespan {
				color: white;
				margin-left: 5px;
			}
			
			#departmentchoicelinediv {
				background-color: darkblue;
				width: 500px;
				height: 20px;
			}
			
			#departmentchoicediv {
				border: 0px solid deepskyblue;
			}
			
			#departmentchoicecontentdiv {
				border: 1px solid deepskyblue;
				width: 450px;
				height: 450px;
				margin-left: 20px;
			}
			
			#departmentchoiceremove {
				font-size: 32px;
				position: absolute;
				left: 440px;
				top: 45px;
			}
			
			#departmentchoicemarksure {
				background-color: lawngreen;
				color: white;
				width: 100px;
				position: absolute;
				left: 300px;
				top: 42px;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">

			<!--
            	作者：1424432629@qq.com
            	时间：2020-02-18
            	描述：员工查询
          -->
			<div id="yy" class="mo1 modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header" style="border-bottom:0px">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">员工查询</h4>
						</div>
						<div class="modal-body">

							<div class="row border-def" style="height: 44.5%;">
								<div class="col-md-12" style=" overflow: auto;height: 100%;">
									<div>
										<!-- Tab panes -->
										<div class="tab-content">

											<div>
												<form class="form-inline form-dinyi">
													<table style="border-collapse:separate;border-spacing:5px;">
														<tr>
															<td>
																<span style="margin-left: 10px;">员工编号：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.staffno" style="width: 140px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">员工姓名：</span>
															</td>
															<td>

																<input class="form-control" v-model="employeeinfo.name" style="width: 140px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">性别：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.sex" style="width: 100px;" type="text">
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">岗位：</span></td>
															<td>
																<select class="form-control" style="width: 120px;" name="postselect">
																	<option postid=""></option>
																	<option v-bind:postid="item.id" v-for="item in posts">{{item.postname}}</option>
																</select>
															</td>
															<td>
																<span style="margin-left: 20px;">所在部门：</span></td>
															<td>
																<input class="form-control" name="departmentidanddepartmentname" v-model="employeeinfo.departmentid" type="text" />
															</td>
															<td>
																<button data-toggle="modal" data-target="#myModal3" class="btn btn-default"><span class="caret"></span></button>
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">身体状况：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.physicalcondition" style="width: 160px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">身高：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.height" style="width: 100px;" type="text">
															</td>
															<td>
																<span style="margin-left: 20px;">籍贯：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.nativeplace" type="text" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">民族：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.nation" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">婚姻状况：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.maritalstatus" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">学历：</span>
															</td>
															<td>
																<input class="form-control" style="width: 120px;" v-model="employeeinfo.educationbackground" type="text" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">毕业学校：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.school" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">专业：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.major" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">专业资格：</span>
															</td>
															<td>
																<input class="form-control" style="width: 120px;" v-model="employeeinfo.professionalqualification" type="text" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">生日：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.birthdaydate" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">学位：</span>
															</td>
															<td>
																<input class="form-control" type="text" v-model="employeeinfo.degree" />
															</td>
															<td>
																<span style="margin-left: 20px;">编制：</span>
															</td>
															<td>
																<input class="form-control" type="text" v-model="employeeinfo.authorizedstrength" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">身份证号：</span>
															</td>
															<td>
																<input class="form-control" class="form-control" v-model="employeeinfo.idcardno" type="text" />
															</td>
															<td>
																<span style="margin-left: 20px;">入职日期 从：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.dateofentryone" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">至：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.dateofentrytwo" type="date" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">试用日期 从：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.thetrialdateone" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">至：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.thetrialdatetwo" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">属性：</span>
															</td>
															<td>
																<input class="form-control" type="text" v-model="employeeinfo.property" />
															</td>
														</tr>
														<tr>
															<td>
																<span style="margin-left: 10px;">合同开始 从：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.contractstartdateone" type="date" />
															</td>
															<td>
																<span style="margin-left: 20px;">至：</span>
															</td>
															<td>
																<input class="form-control" v-model="employeeinfo.contractstartdatetwo" type="date" />
															</td>
														</tr>
													</table>
												</form>
											</div>

										</div>

									</div>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" @click="employeeinfomakesure()">确定</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div id="departmentchoice">
				<div id="departmentchoicelinediv">
					<span id="departmentchoicespan">部门定义</span>
				</div>
				<div id="departmentchoicediv">
					<h2 id="departmentchoiceh2">部门选择</h2>
					<button @click="departmentchoiceqwe()" id="departmentchoicemarksure" class="btn btn-default">
						<span class="glyphicon glyphicon-ok"></span> 选择
					</button>
					<span @click="closedepartmentchoice()" id="departmentchoiceremove" class="glyphicon glyphicon-remove"></span>
					<div>
						<div id="departmentchoicecontentdiv">
							<select style="width: 450px;">
								<option>0000-成高</option>
							</select>
							<div style="overflow: scroll;">
								<table border="1px" class="table">
									<thead>
										<tr style="background-color: deepskyblue;">
											<tr>
												<td></td>
												<td>部门编号</td>
												<td>部门名称</td>
												<td>部门分类</td>
											</tr>
										</tr>
									</thead>
									<tbody>
										<tr @dblclick="departmentcheck(item)" @click="departmentshift(item)" v-for="item in department">
											<td style="width: 40px;">
												<span v-if="item.check==true" style="font-size: 8px;" class="glyphicon glyphicon-play"></span>
											</td>
											<td>{{item.id}}</td>
											<td>{{item.departmentname}}</td>
											<td>{{item.departmenttypename}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div style="border: 0px solid red;margin-top: 20px;margin-left: 20px;">
					<span>合计:<span>{{department.length}}</span>条记录</span>
				</div>
			</div>

			<div id="header">
				<h2>通讯名录</h2>
				<div id="selectdiv">
					<input name="condition" placeholder="匹配工号/姓名" style="display: inline-block; width: 300px;" class="form-control" type="text" />
					<button @click="selectdata()" id="selectbtn" class="btn btn-default">搜索</button>
					<button id="closebtn" class="btn btn-default">关闭</button>
				</div>
			</div>
			<div id="buttondiv">
				<div id="rightbuttondiv">
					<ul>
						<li>
							<span id="img" class="glyphicon glyphicon-save-file"></span>
							<span id="font">保存</span>
						</li>
						<li>
							<span id="img" class="glyphicon glyphicon-list-alt"></span>
							<span data-toggle="modal" data-target="#yy" @click="openstaffquery()" id="font">查询</span>
						</li>
						<li>
							<span id="img" class="glyphicon glyphicon-share"></span>
							<span @click="exportExcel()" id="font">导出</span>
						</li>
					</ul>
				</div>
			</div>
			<div id="tablediv">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td></td>
							<td>部门</td>
							<td>员工编号</td>
							<td>姓名</td>
							<td>分机/短号</td>
							<td>直拨</td>
							<td>手机</td>
							<td>邮箱</td>
						</tr>
					</thead>
					<tbody>
						<tr @click="datashift(item)" v-for="item in data">
							<td style="width: 40px;">
								<span v-if="item.check==true" style="font-size: 8px;" class="glyphicon glyphicon-play"></span>
							</td>
							<td>{{item.departmentname}}</td>
							<td>{{item.staffno}}</td>
							<td>{{item.name}}</td>
							<td>{{item.emergencyphone}}</td>
							<td>{{item.contactnumber}}</td>
							<td>{{item.phone}}</td>
							<td>{{item.email}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div><span>合计：<span>{{data.length}}</span>条记录</span>
			</div>

		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/data.js"></script>
		<script>
			//查询员工通讯名录信息
			function selectStaffPhone() {
				$.ajax({
					url: data.ip+"/listCommunication/selectStaffPhone",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.data = response;
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//查询所有部门信息
			function selectAllDepartment() {
				$.ajax({
					url: data.ip+"/exitRegistration/selectAllDepartment",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.department = response;
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//根据编号或姓名查询员工通讯名录信息
			function selectStaffPhoneByStaffNoOrName(condition) {
				$.ajax({
					url: data.ip+"/listCommunication/selectStaffPhoneByStaffNoOrName",
					data: {
						condition: condition
					},
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.data = response;
						console.log(vm.data);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//查询所有岗位
			function selectAllPost() {
				$.ajax({
					url: data.ip+"/exitRegistration/selectAllPost",
					type: "post",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.posts = response;
						//console.log(response);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//根据条件查询员工通讯名录信息
			function selectStaffPhoneByCondition() {
				var postid = $("[name=postselect]").find("option:selected").attr("postid");
				vm.employeeinfo.postid = postid;
				var arr = vm.employeeinfo.departmentid.split(" ");
				vm.employeeinfo.departmentid = arr[0];
				var staff = JSON.stringify(vm.employeeinfo);
				$.ajax({
					url: data.ip+"/listCommunication/selectStaffPhoneByCondition",
					data: staff,
					type: "post",
					dataType: "json",
					contentType: "application/json;charset=utf-8",
					xhrFields: {
						withCredentials: true
					},
					success: function(response) {
						vm.data = response;
						//console.log(vm.data);
					},
					error: function(error) {
						console.log(error);
					}
				});
			}
			//导出数据
			function exportExcel() {
				var condition = $("[name=condition]").val();
				if(condition != null && condition != "") {
					vm.employeeinfo.name = condition;
					vm.employeeinfo.check = true;
				} else {
					vm.employeeinfo.check = false;
				}
				var staff = JSON.stringify(vm.employeeinfo);
				console.log(staff);
				 
				var form = document.createElement("form");
				form.style.display = 'none';
				form.action = data.ip+"/excel/staffExportExcel";
				form.method = "post";
				document.body.appendChild(form);
				for(var key in vm.employeeinfo) {
					var input = document.createElement("input");
					input.type = "hidden";
					input.name = key;
					input.value = vm.employeeinfo[key];
					form.appendChild(input);
				}
				form.submit();
				form.remove();
				vm.employeeinfo.name=""; 
				vm.employeeinfo.check="";
			}
			var vm = new Vue({
				el: ".container-fluid",
				data() {
					return {
						data: {},
						employeeinfo: {
							"staffno": "",
							"name": "",
							"sex": "",
							"postid": "",
							"departmentid": "",
							"physicalcondition": "",
							"height": "",
							"nativeplace": "",
							"nation": "",
							"maritalstatus": "",
							"educationbackground": "",
							"school": "",
							"major": "",
							"professionalqualification": "",
							"birthdaydate": "",
							"degree": "",
							"authorizedstrength": "",
							"idcardno": "",
							"dateofentryone": "",
							"dateofentrytwo": "",
							"contractstartdateone": "",
							"contractstartdatetwo": "",
							"property": "",
							"thetrialdateone": "",
							"thetrialdatetwo": ""
						},
						posts: {},
						department: []
					}
				},
				created: function() {
					selectStaffPhone();
				},
				methods: {
					opendepartmentchoice: function() {
						selectAllDepartment();
						$("#departmentchoice").addClass("show");
					},
					departmentchoiceqwe: function() {
						for(var i = 0; i < vm.department.length; i++) {
							if(vm.department[i].check == true) {
								vm.employeeinfo.departmentid = vm.department[i].id + " " + vm.department[i].departmentname;
							}
						}
						$("#departmentchoice").removeClass("show");
					},
					closedepartmentchoice: function() {
						$("#departmentchoice").removeClass("show");
					},
					departmentcheck: function(item) {
						for(var i = 0; i < vm.department.length; i++) {
							if(vm.department[i].check == true) {
								vm.employeeinfo.departmentid = vm.department[i].id + " " + vm.department[i].departmentname;
							}
						}
						$("#departmentchoice").removeClass("show");
					},
					departmentshift: function(item) {
						var that = this;
						for(var i = 0; i < that.department.length; i++) {
							that.department[i].check = false;
						}
						item.check = true;
					},
					//员工查询
					employeeinfomakesure: function() {
						selectStaffPhoneByCondition();
						$("#staffquery").removeClass("show");
					},
					//搜索员工信息
					selectdata: function() {
						var condition = $("[name=condition]").val();
						console.log(condition);
						this.employeeinfo = {
							"staffno": "",
							"name": "",
							"sex": "",
							"postid": "",
							"departmentid": "",
							"physicalcondition": "",
							"height": "",
							"nativeplace": "",
							"nation": "",
							"maritalstatus": "",
							"educationbackground": "",
							"school": "",
							"major": "",
							"professionalqualification": "",
							"birthdaydate": "",
							"degree": "",
							"authorizedstrength": "",
							"idcardno": "",
							"dateofentryone": "",
							"dateofentrytwo": "",
							"contractstartdateone": "",
							"contractstartdatetwo": "",
							"property": "",
							"thetrialdateone": "",
							"thetrialdatetwo": ""
						};
						selectStaffPhoneByStaffNoOrName(condition);
					},
					datashift: function(item) {
						var that = this;
						for(var i = 0; i < that.data.length; i++) {
							that.data[i].check = false;
						}
						item.check = true;
					},
					//导出数据
					exportExcel: function() {
						exportExcel();
					},
					openstaffquery: function() {
						selectAllPost();
						vm.employeeinfo = {
							"staffno": "",
							"name": "",
							"sex": "",
							"postid": "",
							"departmentid": "",
							"physicalcondition": "",
							"height": "",
							"nativeplace": "",
							"nation": "",
							"maritalstatus": "",
							"educationbackground": "",
							"school": "",
							"major": "",
							"professionalqualification": "",
							"birthdaydate": "",
							"degree": "",
							"authorizedstrength": "",
							"idcardno": "",
							"dateofentryone": "",
							"dateofentrytwo": "",
							"contractstartdateone": "",
							"contractstartdatetwo": "",
							"property": "",
							"thetrialdateone": "",
							"thetrialdatetwo": ""
						};
						 
					},
					closestaffquery: function() {
						$("#staffquery").removeClass("show");
					}
				}
			});
		</script>
	</body>

</html>